.App {
  background-color: ghostwhite;
  height: 100vh;
  color: ghostwhite;
  display: flex;
  justify-content: center;
}

.container {
  margin-left: 10px;
}

.text-input-box {
  border-radius: 0px 15px 5px 0px;
  padding: 5px;
  border-style: solid;
  flex-grow: 2;
  font-size: medium;
}

.login-button {
  width: 300px;
  height: 40px;
  border-radius: 0px;
  border-style: none;
  background-color: lightsteelblue;
  color: navy;
  font-size: 20px;
  border-radius: 5px 15px 5px 15px;
}

.header {
  padding: auto;
  color: navy;
}

.header>h1 {
  text-align: center;
}

.login-box {
  padding: 15px;
  width: 300px;
  font-size: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px 15px 5px 15px;
  background-color: lightslategray;
}

.login-box-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 40px;
}

.login-box-label {
  background-color: #444c57;
  margin-right: 0;
  padding: 5px;
  border-radius: 5px 0px 0px 15px;
  flex-grow: 2;
  text-align: center;
}

.login-box-button-row {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
